{% extends "common/base.html" %}

{% block content %}
  <h1>Ингредент: {{ ingredient.title }}</h1>
    {% if ingredient.description %}
        <div>
            <p>
                Описание: {{ ingredient.description }}
            </p>
        </div>
    {% endif %}
    <div>
        <p>Калорийность: {{ ingredient.calorie_content }} </p>
    </div>
    <div>
        <p>Белки: {{ ingredient.proteins }} </p>
        <p>Жиры: {{ ingredient.fats }} </p>
        <p>Углеводы: {{ ingredient.carbohydrates }} </p>
    </div>
    <div>
        {% if ingredient.has_animal_proteins %}
            <p>Животного происхождения</p>
        {% else %}
            <p>Растительного происхождения</p>        
        {% endif %}
    </div>
    <div>
        <p>Автор: <a href="{% url 'profile' ingredient.author.username %}">{{ ingredient.author }}</a> </p>
    </div>
    {% if request.user == ingredient.author or request.user.is_superuser %}
        <div>
            <a href="{% url 'ingredient_edit' ingredient.slug %}">Изменить</a>
            <a href="{% url 'ingredient_delete' ingredient.slug %}">Удалить</a>
        </div>
    {% endif %}
{% endblock %}
