{% extends 'common/base.html' %}

{% block content %}
  <h1>Мой список употребленных продуктов</h1>
  <div>
    <form method="GET">
      {{ form.as_p }}
      <button type="submit">Фильтровать по дате</button>
    </form>
    <ul>
      {% for amount in page_obj %}
        <li>{{ amount.date }} {{ amount.ingredient }} {{ amount.grams }} <a href="{% url 'amount_per_day_delete' amount.id %}">Удалить</a></li>
      {% empty %}
        <div>Нет данных</div>
      {% endfor %}
    </ul>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Первая</a>
          <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.</span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
  <div>
    <a href="{% url 'add_amount_per_day' %}">Добавить</a>
  </div>

  <div>
    <table class="table">
      <caption>
        Суммарно КБЖУ
      </caption>
      <thead>
        <tr>
          <th scope="col">К</th>
          <th scope="col">Б</th>
          <th scope="col">Ж</th>
          <th scope="col">У</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ total_nutrients.total_calories_value }}</td>
          <td>{{ total_nutrients.total_proteins_value }}</td>
          <td>{{ total_nutrients.total_fats_value }}</td>
          <td>{{ total_nutrients.total_carbohydrates_value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
